{
  "name": "{{ name }}",
  "version": "1.0",
  "slug": "{{ slug }}-ingress-proxy",
  "description": "test fsdfsdf.",
  "panel_icon": "{{ panel_icon }}",
  "ingress": true,
  "arch": ["armhf", "armv7", "aarch64", "amd64", "i386"],
  "startup": "before",
  "boot": "auto",
  "options": {},
  "schema": {},
  "ports": {}
}
